<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        Platforms:
        <span>PC</span>
      </p>
      <p class="game-tabs-par">
        <span>Konami</span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a href="#" class="game-tabs-link" target="_blank"></a>
      </p>
      <div class="game-description">Some description</div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">14</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img src="x" class="game-screenshot" alt="screenshot" />
    </mat-tab>
    <mat-tab label="Trailers">
      <video class="game-trailer" controls>
        <source src="x" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
